
mat-card-header {
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-bottom: 12px;
}   

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

mat-card-actions {
    justify-content: center;
    width: 100%;
}